.email{
    border: 4px #fff;
    background: transparent;
    display: block;
}

.password{
    border: 4px #fff;
    background: transparent;
    display: block;
}

.email::placeholder{
    color: #fff;
}

.password::placeholder{
    color: #fff;
}

.btn{
    margin-top: 15px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 8px;
}

.form{
    background: #484848;
    border: none;
    border-radius: 15px;
}

.h3{
    color: #fff;
}