
@use "./constant/variables" as *;


.all{
  margin: 0 auto;
  background-color: #222222;
}

.header_box{
  position: fixed;
  width: 100%;
  top: 20px;
}

.header{
  background-color: #f1f1f1ab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
  max-width: $mainWidth;
  margin: 0 auto;
  backdrop-filter: blur(4px);
}

.ul{
  list-style: none;
  display: flex; 
}

.nav_link{
  text-decoration: none;
  color: $textColorBlack; 
  padding: 20px 10px;
  display: block;
}

// .li.a.active{
//   border-bottom: 2px solid $textColorBlack;
// }

.btnBuy{
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  display: flex;
  border: none;
  padding: 5px;
  width: min-content;
  height: min-content;
}

.btnLogin{
  background-color: #636363;
  color: #fff;
  border-radius: 8px;
  display: flex;
  border: none;
  padding: 5px;
  width: min-content;
  height: min-content;
}

.language{
  display: flex;
  border: dashed 1px #000;
  border-radius: 8px;
  width: min-content;
  height: min-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.rightSide{
  justify-content: right;
  gap: 10px;
  display: inline-flex;
}

.underline{
  text-decoration: underline;
}