.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #222222;
    color: #fff;
    margin-top: 80px;
}


.card {
    background-color: #3D3D3D;
    border: 1px solid #555;
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
    width: 80%;
    max-width: 800px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.roundedImage {
    border-radius: 75px;
}

.textContent {
    flex: 1;
    margin-left: 20px;
}

.textContent .h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.textContent .p {
    font-size: 1em;
    line-height: 1.5;
}

.button{
    background-color: #fff;
    padding: 10px 23px;    
    border-radius: 8px;
    border: none;
    margin-top: 5px;
}

.a{
    text-decoration: none;
    color: black;
}