.grup{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.h3{
    color: #fff;
    text-align: center;
}

.a{
    color: #ffffffc0;
    text-align: center;
    text-decoration: underline;
}